!!!
%html
  %head
    %title= current_page.data.title || "alec.ninja"
    
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    %meta{name: "msapplication-TileColor", content: "#9f00a7"}/
    %meta{name: "theme-color", content: "#8f8aa0"}/

    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png"}/
    %link{rel: "icon", sizes: "32x32", type: "image/png", href: "/favicon-32x32.png"}/
    %link{rel: "icon", sizes: "16x16", type: "image/png", href: "/favicon-16x16.png"}/
    %link{rel: "manifest", href: "/site.webmanifest"}/
    %link{rel: "mask-icon", color: "#5bbad5", href: "/safari-pinned-tab.svg"}/
    
    = stylesheet_link_tag "main"

    %noscript
      = stylesheet_link_tag "noscript"

  %body.is-loading
    #wrapper
      = yield

      %footer#footer
        %ul.copyright
          %li &copy; Alec Larsen

    = javascript_include_tag "main"
